# Environnement virtuel
venv/
env/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
*.pot
db.sqlite3
media/

# Environnement
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
